:host {
  display: block;
}

/* Ocultar barra de desplazamiento en chips de estado horizontales */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
